@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body{
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #53adc4;
    background-image: linear-gradient(45deg, #53adc4 0%, #8581ee 50%, #4e1379 100%);
    width: 99%;
    min-height: 100vh;
    overflow: hidden;
}
.container{
    padding: 24px;
    background: linear-gradient(225deg,#4e217f59, #827be84d );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
   
}
h1{
    text-align: center;
    font-weight: 400;
}
button{
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    font-size:1em;
    font-weight: 300;
    color: rgb(255, 255, 255);
    padding:5px;
    border-radius: 5px;
    background: linear-gradient(145deg, #7a66d6, #6756b4);
    box-shadow:  20px 20px 60px #6151aa,
             -20px -20px 60px #836de6;
}
ul{
    padding:0;
}
li{
    padding-left: 10px;
    margin:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(225deg,#4e217f59, #827be84d );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    
}
