body{
    color: white;
    font-family: arial,sans-serif;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #53adc4;
    background-image: linear-gradient(45deg, #53adc4 0%, #8581ee 50%, #4e1379 100%);
    width: 99%;
    min-height: 100vh;
    overflow: hidden;
}
.container{
    padding: 24px;
    background: linear-gradient(225deg,#4e217f59, #827be84d );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
   
}
h1{
    text-align: center;
}
button{
    
    font-weight: bold;
    color: rgba(227, 225, 248, 0.911);
    padding:5px;
    border-radius: 5px;
    background: linear-gradient(145deg, #7a66d6, #6756b4);
    box-shadow:  20px 20px 60px #6151aa,
             -20px -20px 60px #836de6;
}

.tarefas button{
    left: 0;
    padding: 5px;
    margin: 5px;
    
    

}